/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;;
}

.container {
    width: 300px;
    margin-top: 100px;
}
 img {
    width: 300px;
  height: 200px;
  object-fit: contain;
 }

 .card {
    text-align: center;  
 }
 .card-img-top{
    height: 300px;
 }

 .bck-black {
    background-color: rgb(44, 44, 44);
 }
 
